<h1 mat-dialog-title>Новая заадача</h1>
<div mat-dialog-content>
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-12">
            
            
            <div class="row">
                <div formGroupName="linkPhone" class="row">
                    <div class="col-6">
                        <mat-form-field class="full-width">
                            <mat-label>Ссылка</mat-label>
                            <input type="text" matInput formControlName="link" [ngClass]="{'invalid': f.linkPhone.get('link').hasError('RequireLinkPhone')}"
                                    placeholder="Ссылка">
                        
                            <mat-error *ngIf="f.linkPhone.get('link').hasError('RequireLinkPhone')">
                                <div>Ссылка или телефон</div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="full-width">
                            <mat-label>Телефон</mat-label>
                            <input type="text" matInput formControlName="phone" [ngClass]="{'invalid': f.linkPhone.get('phone').hasError('RequireLinkPhone')}"
                                    placeholder="Телефон">
                        
                            <mat-error *ngIf="f.linkPhone.get('phone').hasError('RequireLinkPhone')">
                                <div>Ссылка или телефон</div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="fill" class="select-wrap">
                            <mat-label>Подразделения</mat-label>
                            <mat-select formControlName="unit_id">
                              <mat-option *ngFor="let unit of units" [value]="unit.id">
                                {{unit.title}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="invalid_custom" *ngIf="f.unit_id.errors  && f.unit_id.errors.required && f.unit_id.touched">Обязательно к заполнению</div>
                    </div>
    
                    <div class="col-6">
                        <mat-form-field appearance="fill" class="select-wrap">
                            <mat-label>Источник</mat-label>
                            <mat-select formControlName="source_id">
                              <mat-option *ngFor="let source of sources" [value]="source.id">
                                {{source.title}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="invalid_custom" *ngIf="f.source_id.errors  && f.source_id.errors.required && f.source_id.touched">Обязательно к заполнению</div>
                    </div>
                </div>
    
                
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="fill" class="select-wrap">
                            <mat-label>Пользователь</mat-label>
                            <mat-select formControlName="responsible_id">
                                <mat-option *ngFor="let user of users" [value]="user.id">
                                {{user.firstname}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="textarea-full-width">
                            <mat-label>Комментарий</mat-label>
                            <textarea matInput placeholder="" formControlName="text"></textarea>
                          </mat-form-field>
                    </div>
                </div>
    
                <div class="login_submit_button">
                    <button type="submit" [disabled]="form.invalid" mat-button color="primary">Submit<i class="material-icons right">send</i></button>
                </div>
    
            </div>
    
        
            
            
            
        </form>
    </div>
</div>