<div class="container">
    <div class="row">
      
      <div class="col-12">
            <h4>Архив задач</h4>
        </div>

    </div>
    <div class="row">
        <div class="col-4"*ngFor="let task of tasks; let i = index">
    
            
            
            <mat-card
                  [ngClass]="{'card' : true, 'card-lead' : true, 'lighten-1' : true, 'white-text' : true, 'green': true}"
                  (click)="openHistory($event, task, i, tasks)"
                  >
                  
                  <mat-card-content class="white-text">
                    <p class="card-content__comments"> <span class="clip">{{task.lastComment}}</span></p>
  
                    <a
                            class="lead-link white-text lighten-3"
                            [href]="task.link ? task.link : 'tel:task.phone'"
                            [target]=" task.link ? '_blanck' : ''">
                        {{ task.link ? task.link : task.phone }}
                    </a>
                    <div class="flex-block content-between items-center">
                        <div class="lead__source">
                            <span class="lead__source-icon"><svg fill="#fff" width="20px" height="20px" class="" style="border-color: rgb(255, 255, 255);"><use [attr.xlink:href]="'#unit-icon-'+task.unit.id"></use></svg></span>
                            &nbsp;
                            <span class="lead__source-title">{{ task.source.title }}</span>
                            
                        </div>
                            
                        <div
                            class="lead__unit-title  unit__color"
                            
                            
                        >{{ task.unit.title }}
                        </div>
                    </div>
                  </mat-card-content>
                  
              </mat-card>
        </div>
    
    </div>
    </div>
    <div class="container center">
        <div class="row">
            <div class="col-12">
                <button (click)="loadTask()" class="btn__end" mat-button color="primary" type="submit" name="action">Загрузить еще
                
                </button>
            </div>
        </div>                
    </div>